$blue: #2e51a2;
$blue-100: #26448f;
$blue-200: #1d439b;

$white: #ffffff;

$gray: #e1e7f5;
$gray-100:#ebebeb;
$gray-200: #dde1ec;
$gray-300: #bebebe;
$gray-400: #888888;
$gray-500: #7f7f7f;
$black: #000000;